.active{
    color: red;
    transition: 0.1s ease-in-out;
}
.active:hover{
    color: rgb(151, 24, 24);
    font-size: 0.95rem;
}
a{
    transition: all 0.3s ease-in-out;
}
a:hover{
    color: rgb(151, 24, 24);
    font-size: 0.95rem;
}